@model EventDay.Models.Category

@{
    ViewBag.Title = "Usuwanie kategorii";
}

@if (@ViewBag.IsError == 0){
    <h3>Jesteś pewny/a, że chcesz usunąć kategorię @Model.Name?</h3>
    using (Html.BeginForm()) {
       
              <button type="submit" class="btn btn-default btn-sm">Usuń</button>
       
    }
} else {
    <h3>Nie można usunąc kategorii, ponieważ są do niej przypisane eventy.</h3>   
}
