@model EventDay.Models.Category

@{
    ViewBag.Title = "Usuwanie kategorii";
}

@if (@ViewBag.IsError == 0){
    <h3>Jesteś pewny/a, że chcesz usunąć kategorię @Model.Name?</h3>
    using (Html.BeginForm()) {
       
            <input type="submit" value="Usuń" />
            <ul id="button">
               <li>@Html.ActionLink("<< Wróć", "Index")</li>
            </ul>
       
    }
} else {
    <h3>Nie można usunąc kategorii, ponieważ są do niej przypisane eventy.</h3>   
}
