@model IEnumerable<EventDay.Models.Category>

@{
    ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>

<ul id="button">
    <li>@Html.ActionLink("Utwórz nową kategorię","Create")</li>
</ul>
<table>
    <tr>
        <th>
            Nazwa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.CategoryId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.CategoryId })
        </td>
    </tr>
}

</table>
