@model EventDay.Models.UserProfile

@{
    ViewBag.Title = "Usuwanie użytkownika";
}

@using (Html.BeginForm()) {
    <p>Czy napewno chcesz usunąć uzytkownika: @Model.UserName?</p>
       <button type="submit" class="btn btn-default btn-sm">Usuń</button>
    <ul id="button">
</ul>
}
