@model EventDay.Models.UserProfile

@{
    ViewBag.Title = "Usuwanie użytkownika";
}

@using (Html.BeginForm()) {
    <p>Czy napewno chcesz usuną uzytkownika @Model.UserName?</p>
    <input type="submit" value="Usuń" />
    @Html.ActionLink("Wróć do listy","Index")
}
