@model EventDay.Models.UserProfile

@{
    ViewBag.Title = "Usuwanie użytkownika";
}

@using (Html.BeginForm()) {
    <p>Czy napewno chcesz usunąć uzytkownika: @Model.UserName?</p>
    <input type="submit" value="Usuń" />
    <ul id="button">
    <li>@Html.ActionLink("<< Wróć", "Index")</li>
</ul>
}
