@model EventDay.Models.Event

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń Event</h2>

<h3>Jesteś pewny że chcesz usunąc ten event?</h3>
<fieldset>

    <div class="display-label">Kategoria:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>

    <div class="display-label">Tytuł:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    
        <input type="submit" value="Usuń" />
       <ul id="button">
        <li>@Html.ActionLink("<< Wróć", "Index")</li>
    </ul>
    
}

