@model IEnumerable<EventDay.Models.Message>

<table>
    <tr>
        <th>Data wysłania</th>
        <th>Tytuł</th>
        <th>Nadawca</th>
    </tr>
@foreach (var item in Model)
{
    var messageClass = "messageIsNotRead";
    if (item.IsRead == true) { messageClass = "messageIsRead"; }
    <tr class="@messageClass">
        <td class="date">@item.SendDate</td>
        <td class="title">@Html.ActionLink(item.Title, "MessageDetails", new { id = item.MessageId })</td>
        <td class="user">@item.FromUser</td>
    </tr>
}
</table>