@model IEnumerable<EventDay.Models.Message>

@foreach (var item in Model)
{
    var messageClass = "messageIsNotRead";
    if (item.IsRead == true) { messageClass = "messageIsRead"; }
    <p class="@messageClass">
        <div class="date">@item.SendDate</div>
        <div class="title">@Html.ActionLink(item.Title, "MessageDetails", new { id = item.MessageId })</div>
        <div class="user">@item.FromUser</div>
    </p>
}