@model IEnumerable<EventDay.Models.Message>

@foreach (var item in Model)
{
    var messageClass = "messageIsNotRead";
    if (item.IsRead == true) { messageClass = "messageIsRead"; }
    <p class="@messageClass">
        <span class="date">@item.SendDate</span>
        <span class="title">@Html.ActionLink(item.Title, "MessageDetails", new { id = item.MessageId })</span>
        <span class="user">@item.FromUser</span>
    </p>
}