@model IEnumerable<EventDay.Models.Message>

<table>
    <tr>
        <th>Data wysłania</th>
        <th>Tytuł</th>
        <th>Odbiorca</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td class="date">@item.SendDate</td>
        <td class="title">@Html.ActionLink(item.Title, "MessageDetails", new { id = item.MessageId })</td>
        <td class="user">@item.ToUser</td>
    </tr>
}
</table>