@model IEnumerable<EventDay.Models.Message>

<div class="table-responsive">
<table class="table table-hover ">
      <thead>
    <tr>
        <th>Data wysłania</th>
        <th>Tytuł</th>
        <th>Odbiorca</th>
    </tr>
            </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td class="date">@item.SendDate</td>
        <td class="title">@Html.ActionLink(item.Title, "MessageDetails", new { id = item.MessageId })</td>
        <td class="user">@item.ToUser</td>
    </tr>
}
        </tbody>
</table>
 </div>