@{
    ViewBag.Title = "Profil administratora";
}

<h2>Profil administratora @User.Identity.Name</h2>

<ul id="button">
    <li>@Html.ActionLink("Lista użytkowników","Index","User")</li>
    <li>@Html.ActionLink("Kategorie eventów","Index","Category")</li>
</ul>
