@model IEnumerable<EventDay.Models.JoinEvent>

@{
    ViewBag.Title = "Lista Gości";
}

<h2>Lista Gości</h2>

<table>
    <tr>
        <th>
            Użytkownik
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
             <a  href="@Url.Action("RemoveFromEvent", new { idJoin=item.JoinEventId, idEvent=item.EventId })"><img class="trash" src="@Url.Content("~/Content/cross.png")" alt="Wyrzuć z wydarzenia" height="20px" width="20px" /></a>
         </td>
    </tr>
}

</table>
