@model IEnumerable<EventDay.Models.UserContact>

@{
    ViewBag.Title = "Kontakty";
}

<h2>Kontakty</h2>

<div class="table-responsive">
<table class="table table-hover ">
   <thead>
    <tr>
        <th>
            Użytkownik
        </th>
        <th></th>
    </tr>
</thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.UserMember.UserName, "Details", new { name = item.UserMember.UserName })
        </td>
        <td>
              <a  href="@Url.Action("DeleteContact", new {  id=item.UserContactId})"><img class="trash" src="@Url.Content("~/Content/cross.png")" alt="Usuń" height="20px" width="20px" /></a>
        
         
        </td>
    </tr>
}
</tbody>
</table>
</div>