@{
    ViewBag.Title = "Strona główna";
}

<h2>@ViewBag.Message</h2>
<p>
    Jeśli szkasz aplikacji, która pomogłaby Ci zorganizować Event, zarządzać nim w prosty sposób,
    zaprosić na niego znajomych lub ludzi o podobnych zainteresowaniach
    i cieszyć się wspólną zabawą to trafiłeś w odpowiednie miejsce!
    EventDay z przyjemnością Ci w tym pomorze!
</p>
<p>
    Stwórz własny Event.
    Dziel się nim ze znajomymi lub udostępnij go publicznie. 
    Decyduj kogo chcesz widzieć na liście gości, a kogo nie.
    Szukaj ciekawych Eventów wśród publicznych ofert.
    Dołącz do Eventu, który Cię zainteresował.
    Dołąc do nas!
</p>
