@{
    ViewBag.Title = "Strona główna";
}

<h2>@ViewBag.Message</h2>
<p>
    Jeśli szkasz aplikacji, która pomogłaby Ci zorganizować Event, zarządzać nim w prosty sposób,
    zaprosić na niego znajomych lub ludzi o podobnych zainteresowaniach
    i cieszyć się wspólną zabawą to trafiłeś w odpowiednie miejsce!
    EventDay z przyjemnością Ci w tym pomoże!
</p>
<p>
    Stwórz własny Event.
    Dziel się nim ze znajomymi lub udostępnij go publicznie. 
    Decyduj kogo chcesz widzieć na liście gości, a kogo nie.
    Szukaj ciekawych Eventów wśród publicznych ofert.
    Dołącz do Eventu, który Cię zainteresował.
    Dołącz do nas!
</p>
<p>
    @if(!Request.IsAuthenticated) {
    <a class="btn btn-lg btn-success" href="@Url.Action("LogOn","Account")" role="button">Zaloguj się</a>
    <a class="btn btn-lg btn-primary" href="@Url.Action("Register","Account")" role="button">Rejestracja</a>
    
    }
</p>
