    #fieldsetGallery
    {
        width:auto;
        height:350px;
    }
    
   #Foto
    {
     //float:left;
     display:inline;
     text-align:center;
    }

#inputFoto
{
    float:left;
}

    #Foto input
    {
       padding: 5px 10px;
       font-size: 12px;
line-height: 1.5;
border-radius: 3px;
width: 206px;
    }

#FileGalleryAdd
{
    //background: rgba(118, 238, 0, 0.5);
    background-color:rgba(0, 148, 255,0.5);
}

#GalleryAccept
{
    background-color:rgba(118, 238, 0,0.5);
}

    #Gallery
    {
        width:auto;
        height:200px;
        max-height:200px;
        overflow-x:scroll;
        white-space: nowrap;
    }

        #Gallery div
        {
            margin:1em;
            max-width: 300px;
            max-height: 300px;
            //display: inline-block;
            float:left;
            margin-bottom:3em;
        }

    #Delete
    {
        height:2em;
    width:2em;
        position:relative; 
        left:-20px;
        vertical-align: bottom;
    }

.DeleteFromDB
{
    height:2em;
    width:2em;
    position:relative; 
        left:-20px;
        vertical-align: bottom;
}

   /*
     #GalleryDetails
         {
        max-width:650px;
        height:auto;
        overflow-x:scroll;
        white-space: nowrap;
        padding:10px;
        margin:10px;
        border-style:solid;
        border-color:grey;
        border-width:1px;
         }

         #GalleryDetails div
         {display: inline-block;
             width:auto;
             height:auto;       
                  padding:10px;
                 margin:10px;
         }

       */

   #GalleryDetails
    {
        width:auto;
        height:200px;
        max-height:200px;
        overflow-x:scroll;
        white-space: nowrap;
    }

        #GalleryDetails div
        {
            margin:1em;
            max-width: 300px;
            max-height: 300px;
            //display: inline-block;
            float:left;
            margin-bottom:3em;
        }